{% extends 'base.html.twig' %}

{% block title %}liste RendezVous{% endblock %}

{% block body %}
<h1>liste RendezVous</h1>

<table class="table">
  <thead>
  <tr>
    <th>Id</th>
    <th>Date</th>
    <th>Heure</th>
    <th>actions</th>
  </tr>
  </thead>
  <tbody>

  {% for rendez_vou in rendez_vouses %}
    {% if rendez_vou.refuser.id != null %}
  <tr>
    <td>{{ rendez_vou.id }}</td>
    <td>{{ rendez_vou.date ? rendez_vou.date|date('Y-m-d') : '' }}</td>
    <td>{{ rendez_vou.heure }}</td>
    <td>

      <a href="{{ path('app_rendez_vous_acceptation', {'id': rendez_vou.id}) }}">Accepter le rdv</a>
    </td>
  </tr>
    {% endif %}
  {% else %}
  <tr>
    <td colspan="4">Pas d'offres de disponible !</td>
  </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock %}
