{% extends 'base.html.twig' %}

{% block title %}Valider RendezVous{% endblock %}

{% block body %}
    <h1>Edit RendezVous</h1>

    {{ include('rendez_vous/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rendez_vous_index') }}">back to list</a>
   

{% endblock %}
