{% extends 'base.html.twig' %}

{% block title %}Valider RendezVous{% endblock %}

{% block body %}
    <h1>Etablir Rendez Vous</h1>

    {{ include('rendez_vous/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_default')  }}">Annuler</a>
   

{% endblock %}
