{% extends 'base.html.twig' %}

{% block title %}New Conference{% endblock %}

{% block body %}
    <h1>Nouvelle conférence</h1>
    {% if dateerreur is defined %}
    <h2>{{  dateerreur }}</h2>
    {% endif %}

    {% if heureerreur is defined %}
    <h2>{{ heureerreur }}</h2>
    {% endif %}

    {{ include('conference/_form.html.twig') }}




{% endblock %}
