{% extends 'base.html.twig' %}

{% block title %}Edit Validation{% endblock %}

{% block body %}
    <h1>Edit Validation</h1>

    {{ include('validation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_validation_index') }}">back to list</a>

    {{ include('validation/_delete_form.html.twig') }}
{% endblock %}
