{% extends 'base.html.twig' %}

{% block title %}New Validation{% endblock %}

{% block body %}
    <h1>Create new Validation</h1>

    {{ include('validation/_form.html.twig') }}

    <a href="{{ path('app_validation_index') }}">back to list</a>
{% endblock %}
